
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                
                 
        <br>
            </div>
        </div>
    </nav>

    <br>


    <div class="container">
<h3>Please fill the parameters below and click on Selling Price button to check car price</h3>
<br>


        <form action="\predict" method="post">
       
            <h3>Year</h3><input id="first" name="year" placeholder="eg. like the year '2010' "type="number " >
        <br>
       
        <br>  
            <h3>Kilometers Driven</h3><input id="second" name="km_driven" placeholder="eg. 10000 Km driven before"required="required">
        <br>
        <br>
            <h3>Mileage</h3><input id="third" name="mileage" placeholder="mileage in kmpl" required="required">
        <br>
<br>
            <h3>Engine</h3><input id="fourth" name="engine" placeholder="engine cc" required="required">
        <br>
<br>
            <h3>Max_power</h3><input id="fifth" name="max_power" placeholder="max power in bhp" required="required">
        <br>
<br>
            <h3>Seats</h3><input id="sixth" name="seats" placeholder="no. of seats" required="required">
        <br>
        <br>   
            
            <h3>Fuel Type</h3><select name="fuel_Diesel" id="fuel" required="required">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="CNG">CNG</option>
                <option value="LPG">LPG</option>

            </select>
        <br>
        <br>
            <h3>Dealer or Individual</h3><select name="seller_type_Individual" id="resea" required="required">
                
                <option value="Trustmark Dealer">Trustmark Dealer</option>

                <option value="Individual">Individual</option>

                <option value="Dealer">Dealer</option>
            </select>
        <br>
        <br>
            <h3>Transmission Type</h3><select name="transmission_Manual" id="research" required="required">
                <option value="Mannual">Manual Car</option>
                <option value="Automatic">Automatic Car</option>
            </select>
        <br>   
            
            <h3>Owner</h3><select name="owner_Fourth & Above Owner" id="owner" required="required">
                <option value="Fourth & Above Owner">Fourth & Above Owner</option>
                <option value="Second Owner">Second Owner</option>
                <option value="Test Drive Car">Test Drive Car</option>
                <option value="Third Owner">Third Owner/option>
               <option value="First Owner">First Owner/option>
            </select>
        <br>
            
            <br><br><button id="sub" type="submit ">Selling Price</button>
        </form>
        <h3>{{ prediction_text }}<h3>
        <br>
    </div>
        
    <style>
        input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
       box-sizing: border-box;
      }
      input {
       border: 2px solid red;
       border-radius: 4px;
    }

button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
    </style>


    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>

  


</body>
